to do task of 7

task: 1

In [ ]:
temperature= [8.2, 17.4, 14.1, 7.9, 18.0, 13.5, 9.0, 17.8, 13.0, 8.5,
16.5, 12.9, 7.7, 17.2, 13.3, 8.4, 16.7, 14.0, 9.5, 18.3, 13.4, 8.1,
17.9, 14.2, 7.6, 17.0, 12.8, 8.0, 16.8, 13.7, 7.8, 17.5, 13.6, 8.7,
17.1, 13.8, 9.2, 18.1, 13.9, 8.3, 16.4, 12.7, 8.9, 18.2, 13.1, 7.8,
16.6, 12.5]
cold_temperature = []
mild_temperature = []
comfortable_temperature = []
for i in temperature:
  if i<10 :
    cold_temperature.append(i)
  elif i>10 and i<16:
    mild_temperature.append(i)
  else:
    comfortable_temperature.append(i)
print(f"the cold temperature is: {cold_temperature}")
print(f"the mild temperature is: {mild_temperature}")
print(f"the comfortable temperature is {comfortable_temperature}")

the cold temperature is: [8.2, 7.9, 9.0, 8.5, 7.7, 8.4, 9.5, 8.1, 7.6, 8.0, 7.8, 8.7, 9.2, 8.3, 8.9, 7.8]
the mild temperature is: [14.1, 13.5, 13.0, 12.9, 13.3, 14.0, 13.4, 14.2, 12.8, 13.7, 13.6, 13.8, 13.9, 12.7, 13.1, 12.5]
the comfortable temperature is [17.4, 18.0, 17.8, 16.5, 17.2, 16.7, 18.3, 17.9, 17.0, 16.8, 17.5, 17.1, 18.1, 16.4, 18.2, 16.6]

task 2

In [ ]:
print(f"the no of time it was cold is: {len(cold_temperature)}")
print(f"the no of time it was mild is: {len(mild_temperature)}")
print(f"the no of time it was comfortable is: {len(comfortable_temperature)}")

the no of time it was cold is: 16
the no of time it was mild is: 16
the no of time it was comfortable is: 16

task 3

In [ ]:
temperature_farenheit = []
for i in temperature:
  temperature_farenheit.append((i * 9/5) + 32)
print(f"the conversion of celsius in farenheit is: {temperature_farenheit}")

the conversion of celsius in farenheit is: [46.76, 63.32, 57.379999999999995, 46.22, 64.4, 56.3, 48.2, 64.04, 55.4, 47.3, 61.7, 55.22, 45.86, 62.959999999999994, 55.94, 47.120000000000005, 62.059999999999995, 57.2, 49.1, 64.94, 56.120000000000005, 46.58, 64.22, 57.56, 45.68, 62.6, 55.04, 46.4, 62.24, 56.66, 46.04, 63.5, 56.48, 47.66, 62.78, 56.84, 48.56, 64.58, 57.02, 46.94, 61.519999999999996, 54.86, 48.02, 64.75999999999999, 55.58, 46.04, 61.88, 54.5]

task 4

In [ ]:
day = []
night = []
evening = []
for i in temperature:
  if i> 0 and i<=8 :
    night.append(i)
  elif i>8 and i<=16:
    evening.append(i)
  else:
    day.append(i)
print(f"the temperature during the night is: {night}")
print(f"the temperature during the evening is: {evening}")
print(f"the temperature during the day is: {day}")

#this is the calculation of the average of the day

count = 0
for i in day:
  count = count + i
average = count / len(day)
print(f"the average is: {average} ")

the temperature during the night is: [7.9, 7.7, 7.6, 8.0, 7.8, 7.8]
the temperature during the evening is: [8.2, 14.1, 13.5, 9.0, 13.0, 8.5, 12.9, 13.3, 8.4, 14.0, 9.5, 13.4, 8.1, 14.2, 12.8, 13.7, 13.6, 8.7, 13.8, 9.2, 13.9, 8.3, 12.7, 8.9, 13.1, 12.5]
the temperature during the day is: [17.4, 18.0, 17.8, 16.5, 17.2, 16.7, 18.3, 17.9, 17.0, 16.8, 17.5, 17.1, 18.1, 16.4, 18.2, 16.6]
the average is: 17.343750000000004

to do task of 8.1

task 1

In [ ]:
def sum_nested_list(nested_list):
  total = 0
  for i in nested_list:
    if isinstance(i,list):
      total += sum_nested_list(i)
    else:
      total += i
  return total
nested_list = [1, [2, [3, 4], 5], 6, [7, 8]]
print(sum_nested_list(nested_list))

36

task 2

In [ ]:
def generate_permutations(s):
    if len(s) == 0:
        return ['']
    unique_permutations = set()
    for i in range(len(s)):
        remaining_string = s[:i] + s[i+1:]
        for perm in generate_permutations(remaining_string):
            unique_permutations.add(s[i] + perm)
    return list(unique_permutations)
print(generate_permutations("abc"))
print(generate_permutations("aab"))

task 3

In [ ]:
def calculate_directory_size(directory):
  total = 0
  for key, value in directory.items():
    if isinstance(value, dict):
      total += calculate_directory_size(value)
    else:
      total += value
  return total
directory_structure = {
"file1.txt": 200,
"file2.txt": 300,
"subdir1": {
"file3.txt": 400,
"file4.txt": 100
},
"subdir2": {
"subsubdir1": {
"file5.txt": 250
},
"file6.txt": 150
}
}
answer = calculate_directory_size(directory_structure)
print(f"this is the total: {answer}")

this is the total: 1400

task1

In [ ]:
def min_coins(coins, amount):
    dp = [float('inf')] * (amount + 1)
    dp[0] = 0
    for i in range(1, amount + 1):
        for coin in coins:
            if coin <= i:
                dp[i] = min(dp[i], dp[i - coin] + 1)

    return dp[amount] if dp[amount]!= float('inf') else -1
coins = [1, 2, 5]
amount = 11
result = min_coins(coins, amount)
print(result)

task2

In [ ]:
def longest_common_subsequence(s1, s2):
    m, n = len(s1), len(s2)
    dp = [[0] * (n + 1) for _ in range(m + 1)]
    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if s1[i - 1] == s2[j - 1]:
                dp[i][j] = dp[i - 1][j - 1] + 1
            else:
                dp[i][j] = max(dp[i - 1][j], dp[i][j - 1])
    return dp[m][n]
s1 = "abcde"
s2 = "ace"
result = longest_common_subsequence(s1, s2)
print(result)

task3